{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ chart.name }} Reward Chart
{% endblock title %}
{% block chart_name %}
  {{ chart.name|upper }}
{% endblock chart_name %}
{% block chart_points %}
  {{ chart.points }}
{% endblock chart_points %}
{% block board_body %}
  {% for dp in display_points %}
    <div class="board-item">
      {% if dp.show_point %}
        <img class="board-point"
             src="{% static 'main/point.svg' %}"
             alt="Point"
             height="70px"
             width="70px"/>
      {% else %}
        <div class="board-bg-dot"></div>
      {% endif %}
    </div>
  {% endfor %}
{% endblock board_body %}
{% block body %}
  <form action="{% url 'increase_points' chart.id %}" method="post">
    {% csrf_token %}
    <button class="btn add-btn" name="add" value="">
      <img src="{% static 'main/add.svg' %}" />
      Add Point
    </button>
  </form>
  <form action="{% url 'redeem' chart.id %}" method="post">
    {% csrf_token %}
    <button class="btn redeem-btn" name="redeem" value="">
      <img src="{% static 'main/emoticon.svg' %}" />
      Redeem
    </button>
  </form>
{% endblock body %}
